::-webkit-input-placeholder {
  //  font-family: 'Merriweather', serif;
  font-family: monospace;
}

:-moz-placeholder { /* Firefox 18- */
  //  font-family: 'Merriweather', serif;
  font-family: monospace;
}

::-moz-placeholder {  /* Firefox 19+ */
  //  font-family: 'Merriweather', serif;
  font-family: monospace;
}

:-ms-input-placeholder {
  //  font-family: 'Merriweather', serif;
  font-family: monospace;
}

#inputArea {
  width: 100%;
  margin: 0 auto;
  border: none;
  // font-family: 'Merriweather', serif;
  font-family: monospace;
  font-size: 20px;
  overflow: auto;
}
